<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="h-screen w-full flex flex-col items-center justify-center p-5 gap-5">
        <h3 class="text-7xl">Welcome to the Server</h3>
        <h2 class="text-3xl">If you are not from my team</h2>
        <h1 class="text-6xl font-bold">Get the Fuck Out!! of here</h1>
    </div>
</body>
</html>