<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div className="h-screen flex items-center justify-center p-5 bg-red-500">
        <h3 className="text-2xl">Welcome to the Server</h3>
        <h2 className="text-3">If you are not from my team</h2>
        <h1 className="text-4xl">Get the Fuck Out!! of here</h1>
    </div>
</body>
</html>